<!doctype html>
<html lang="en">

<head>
    <title>Capmgrond</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Campgrond</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarText ">
            <ul class=" nav navbar-nav mr-auto nav-margin">
                <li class="nav-item active">
                    <a class="nav-link" href="/campground/add">Add Campground
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Git repo</a>
                </li>
            </ul>
            <ul class=" nav navbar-nav nav-right-margin" style="float: right">
                <% if(!currentUser){ %>
                    <li class="nav-item active pull-right">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item active pull-right">
                        <a class="nav-link" href="/register">Signup</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item active pull-right">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </nav>